@{
    ViewData["Title"] = "Home Page";
}


    <main role="main">
        @* Inicio do Carousel *@
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://s3.amazonaws.com/gupy5/production/companies/28780/career/63497/images/2022-07-25_19-07_mainImage.png" class="d-block w-100" alt="Apenas imagem teste">
            </div>
            <div class="carousel-item">
              <img src="https://s3.amazonaws.com/gupy5/production/companies/28780/career/63497/images/2022-07-25_19-07_mainImage.png" class="d-block w-100" alt="Apenas imagem teste">
            </div>
            <div class="carousel-item">
              <img src="https://s3.amazonaws.com/gupy5/production/companies/28780/career/63497/images/2022-07-25_19-07_mainImage.png" class="d-block w-100" alt="Apenas imagem teste">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden bg-black">Next</span>
          </button>
        </div>
        @* Fim do Carousel *@

        @* Inicio do Container *@
       <div class="container">
            <h2>Tecnologia que foram usadas</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-su">
                    <thead>
                    <tr class="table-info">
                        <th>Nr.</th>
                        <th>Tecnologia</th>
                        <th>Sobre a Tecnologia</th>
                        <th>Qual o intuito de usa-la</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>ASP.NET Core MVC</td>
                        <td>É um framework para criação de aplicações web</td>
                        <td>Fornecer uma estrutura organizada e confiável para a construção do sistema de vendas.</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>MySQL</td>
                        <td>É um sistema de gerenciamento de banco de dados relacional de código aberto.</td>
                        <td>Armazenar e gerenciar os dados referentes às vendas de carros.</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Entity Framework Core</td>
                        <td>É um framework ORM que permite o mapeamento de objetos para bancos de dados relacionais.</td>
                        <td>Foi utilizado para a criação e gerenciamento do banco de dados, garantindo uma maior segurança e integridade dos dados.</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Razor Pages</td>
                        <td>É um modelo de programação web que permite a criação de páginas de maneira mais simples e rápida.</td>
                        <td>Criar as páginas do sistema de vendas de forma mais rápida e fácil.</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Bootstrap</td>
                        <td>É um framework CSS para desenvolvimento de interfaces responsivas.</td>
                        <td>Criação de uma interface responsiva e amigável para o usuário final.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @* Fim do Container *@

        <!-- Call to action-->
        <div class="container bg-gradient">
            <div class="jumbotron">
              <h1 class="display-4">Saiba mais!</h1>
              <p class="lead">Para entender mais sobre o projeto e como funciona, basta acessar o link abaixo, onde contem meu github, onde terá o código fonte, além de explicar ainda mais sobre código!.</p>
              <hr class="my-4">
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://github.com/ThallysCezar/System-manager-ASP.NETCore" target="_blank" role="button">Link do github!</a>
              </p>
            </div>
        </div>
</main>

